.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #ffc404;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #ffc404;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
